@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .fade-in-down {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .fade-in-up-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-in-down-visible {
    opacity: 1;
    transform: translateY(0);
  }
   */
   .fade-in {
    opacity: 0;
    transform: translateX(-20px); /* Adjust based on effect */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in-visible {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  

  @font-face {
    font-family: 'K2D';
    src: url('../components/Fonts/K2D/K2D-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'K2D';
    src: url('../components/Fonts/K2D/K2D-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  .font-regular {
    font-family: 'K2D';
    font-weight: normal;
  }
  
  /* Class for Bold font */
  .font-bold {
    font-family: 'K2D';
    font-weight: bold;
  }

  body {
    font-family: 'K2D';
  }